---
const year = new Date().getFullYear();
---

<footer class="footer">
  <span class="footer_item"></span>&nbsp;
  <div class="footer_social-icons">
    <a
      href="https://github.com/Feryla"
      target="_blank"
      rel="noopener noreferrer me"
      title="Github"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentcolor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"
        ></path>
      </svg>
    </a>
    <a
      href="https://bsky.app/profile/feryla.net"
      target="_blank"
      rel="noopener noreferrer me"
      title="Bluesky"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentcolor"
        stroke="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M11.999 10.236c.321-.524.916-1.507 1.405-2.376.755-1.344 1.692-2.852 2.869-4.028 1.283-1.281 2.845-2.171 4.739-2.171 1.144.0 1.864.585 2.299 1.497.486 1.017.545 2.551.51 3.883-.051 1.945-.232 3.337-.505 4.275-.229.786-.543 1.303-.878 1.615-.892.833-1.8 1.263-2.634 1.484.029.018.056.036.084.055.528.367.823.79 1.081 1.107.648.794.644 1.795.23 2.784-.481 1.151-1.533 2.279-2.12 2.773-1.389 1.171-2.506 1.362-3.383 1.133-.88-.23-1.59-.932-2.156-1.826-.45-.71-.817-1.537-1.176-2.186-.115-.208-.302-.455-.406-.587-.02.019-.04.04-.056.058-.121.145-.234.328-.349.531-.363.644-.721 1.463-1.157 2.166-.555.895-1.252 1.597-2.12 1.825-.863.227-1.97.037-3.363-1.136-.586-.494-1.638-1.622-2.119-2.773-.414-.989-.418-1.99.229-2.784.258-.317.554-.74 1.082-1.106.027-.019.055-.038.084-.056-.834-.221-1.742-.651-2.634-1.484-.335-.312-.649-.829-.878-1.615-.273-.938-.454-2.33-.505-4.275-.036-1.332.024-2.866.509-3.883.435-.912 1.156-1.497 2.3-1.497 2.32.0 4.109 1.203 5.494 2.808 1.272 1.474 2.195 3.283 2.9 4.643.231.447.436.84.624 1.146zm-.01 5.653.296.031.271.086c.208.088.413.229.607.428.455.467.882 1.369 1.36 2.284.249.477.518.958.841 1.339.231.274.483.502.805.569.488.103 1.052-.157 1.811-.797.452-.38 1.274-1.239 1.645-2.126.155-.371.265-.75.022-1.048-.179-.22-.366-.529-.732-.783-.536-.372-1.356-.51-1.905-.654-.405-.106-.715-.234-.88-.355l-.284-.303-.135-.367-.008-.211.035-.196.078-.195.142-.209.198-.181.296-.154c.151-.055.348-.092.587-.104.815-.042 2.571.294 4.235-1.259.171-.159.288-.445.404-.845.246-.843.391-2.096.438-3.843.024-.91.026-1.938-.208-2.738-.142-.486-.367-.891-.896-.891-1.675.0-2.974.983-4.031 2.21-1.179 1.369-2.058 3.057-2.752 4.321-.483.88-.902 1.573-1.25 1.916-.088.086-.174.157-.257.214l-.221.125-.228.078-.267.031-.274-.034-.231-.083-.219-.132c-.081-.058-.164-.131-.248-.22-.327-.343-.718-1.037-1.174-1.917-.654-1.262-1.497-2.948-2.676-4.314-1.067-1.236-2.417-2.217-4.203-2.217-.53.0-.754.405-.896.891-.234.8-.232 1.828-.208 2.738.046 1.747.192 3 .438 3.843.116.4.233.686.403.845 1.665 1.553 3.421 1.217 4.235 1.259.24.012.437.049.588.104l.295.154.199.181.142.209.078.195.035.196-.009.211-.135.368-.283.303c-.165.12-.476.248-.88.355-.549.144-1.369.281-1.905.653-.366.254-.554.564-.732.783-.243.298-.133.677.022 1.048.371.887 1.193 1.746 1.645 2.127.757.637 1.311.9 1.789.8.311-.066.55-.29.772-.557.315-.381.577-.86.822-1.337.394-.763.752-1.521 1.138-2.01.431-.544.929-.815 1.455-.815z"
          style="fill-rule:nonzero"></path>
      </svg>
    </a>
  </div>
  <small class="footer_copyright">&copy; {year} Feryla.</small>
</footer>
